.stay-img {
  width: 50%;
  padding-top: 10px;
  height: 50vh;
}

p {
  font-family:'Times New Roman', Times, serif;
  font-style: italic;
}
h2 {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

h3 {
  font-family: Georgia, 'Times New Roman', Times, serif;
}
h1 {
  font-family: Georgia, 'Times New Roman', Times, serif;
}