.app {
  text-align: center;
  align-items: center;
}

.app-header {
  width: 100%;
  color: #bdccfe;
  background-color: #5240ef;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(5px + 2vmin);
}

.container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

h2 { font-size: 30px; }

.app {
  background-color: #ffffff;
  text-align: center;
  align-items: center;
  color:#ffffff ;
  background-image: url(https://th.bing.com/th/id/R.52529b6e678187f730cc7c26549d063c?rik=ao4WRIvZZhWYfg&pid=ImgRaw&r=0);
}